.global {
  &Menus {
    width: 250px;
    padding: 20px 0px;
    float: left;
    &-item {
      position: relative;
      padding-left: 24px;
      margin-bottom: 10px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        border-radius: 2px;
        background-color: #666;
      }
    }
    &-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &Container {
    float: left;
    width: 500px;
    padding: 20px 0px;
  }
}
